extends layout

block content
    .page-header
        h1 Welcome to MIS
    p.lead
        | Management of Internships and Students 
    p Here you can check your internships and students. 
    p You can also add new entries to the database.
    br
    #example-1-result
    br


    p You can have multiple browser windows open - all get updated via socket.io.
   