extends layout

block content
    .page-header
        h1 Añadir estudiante

    #index-view
        p Reference: 
            input#newStudentRef(type="Reference")
        p Text: 
             input#newStudentext(type="text")
        button#addStudent add